body {
  color: white;
  font-family: "Raleway"; }

.text-secondary {
  color: #868e96 !important; }

.iso-placeholder {
  background: url("/assets/isocertified.png");
  background: cover; }

.image-container {
  margin: auto; }

.twentyfive-year-logo {
  width: 50%;
  padding-right: 10px; }

.iso-logo {
  width: 35%; }

.navbar {
  width: 100%;
  background: white; }
  .navbar .nav-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase; }
  .navbar .nav-item {
    padding: 0; }

#hero {
  background: url("/assets/medicalengineering.jpg") no-repeat;
  background-size: cover;
  min-height: 600px;
  background-position: 0 60%; }

.hero-img {
  width: 80%; }

.feeney-keating {
  letter-spacing: 10px; }

h1 {
  font-weight: bold;
  font-size: 3.5em; }

.feature-wrapper {
  color: black; }

.clients-container {
  background-color: #2595FF; }

.navy-background {
  background: url("/assets/bgblue.jpg");
  background-position: cover;
  background-repeat: repeat; }

#about-container {
  background: url("/assets/bgblue.jpg");
  background-position: cover;
  background-repeat: repeat; }
  #about-container h2 {
    letter-spacing: 4px;
    font-weight: bold; }
  #about-container h4 {
    color: grey; }
  #about-container .form-control {
    background: #111111;
    border: 3px solid #2F2F2F;
    padding: 10px; }
  #about-container .btn {
    padding: 12px !important;
    border: none !important;
    color: #000000 !important;
    cursor: pointer !important; }

.sub-headings {
  font-weight: 550; }

.about-text {
  line-height: 32px; }

.block {
  display: block; }

.paper-repeat {
  background: url("/assets/bgrepeater.jpg");
  background-position: cover;
  background-repeat: repeat; }

.font-14 {
  font-size: 14px; }

.d-block {
  cursor: pointer; }

.gallery-size {
  width: 400px;
  height: 200px;
  background-size: cover; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.slideanim {
  visibility: hidden; }

.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; }

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }

@media (max-width: 34em) {
  h1 {
    font-size: 2.5em; }
  h4 {
    font-size: 1.2em; }
  .padding-mobile {
    padding-bottom: 1em; } }
